body{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
h1,h2,h3,h4,h5{
  margin: 0;
  padding: 0;
}
p{
  margin: 0;
}
.container{
  max-width: 1200px;
  width: 90%;
  margin: auto;
}
.row{
  display: flex;
  flex-wrap: wrap;
}
@for $i from 1 through 12{
  .col#{$i}{
    width: (100%/(12/$i)) - 3%;
    margin: 1.5%;
  }
}

//Nav
.header{
  padding: 20px;
}
.nav-container{
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}
.nav{
  display: flex;
  flex-wrap: wrap;
  margin: 0 1.5%;
  justify-content: space-between;
  align-items: center;
  &-brand{
    h1{
      a{
        text-decoration: none;
        color: black;
        span{
          color: darkred;
        }
      }
    }
  }
  &-menu{
    a{
      text-decoration: none;
      color: black;
      padding: 10px;
      &:hover{
        color: darkred;
      }
    }
  }
}
.cta{
  background: green;
  color: white;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 30px;
  text-decoration: none;
  transition: all cubic-bezier(0.165, 0.84, 0.44, 1) 1s;
  &:hover{
    color: white;
    background: rgb(137, 210, 27);
  }
}
.img-responsive{
  width: 100%;
}
.ai-center{
  align-items: center;
}
.hero{
  padding: 5% 0;
  &-desc{
    h1{
      font-size: 2.5em;
      line-height: 120%;
      margin-bottom: 20px;
      span{
        color: goldenrod;
      }
    }
    p{
      line-height: 180%;
    }
  }
}

//Spacer
.spacer30{
  height: 30px;
}

//Food
.food{
  &-card{
    padding: 15px;
    box-sizing: border-box;
    box-shadow: 0px 1px 9px 8px #eee;
    .fc-desc{
      h3{
        text-transform: capitalize;
        font-size: 20px;
        margin-bottom: 10px;
      }
      p{
        font-size: 14px;
        color: #777;
      }
    }
    .fc-price{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 10px;
      color: darkred;
      .price-tag{
        font-size: 20px;
      }
      .price-num{
        font-weight: 500;
        font-size: 20px;
      }
    }
  }
}

//Button
.btn{
  background: darkred;
  color: white;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 30px;
  text-decoration: none;
  transition: all cubic-bezier(0.165, 0.84, 0.44, 1) 1s;
  &:hover{
    color: white;
    background: black;
  }
}

//Footer
.footer{
  margin-top: 100px;
  padding: 5% 0;
  background-color: black;
  color: white;
  &-desc{
    h3{
      margin-bottom: 20px;
    }
    p{
      line-height: 180%;
    }
  }
}
ul{
  margin: 0;
  padding: 0;
  list-style: none;
  color: wheat;
  li{
    padding: 5px 0;
    a{
      color: wheat;
    }
  }
}
.sosmed{
  padding: 2px;
}